<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Explorador</title>

    </h:head>
    <h:body>

        <style type="text/css">
            .ui-treetable table {
                table-layout: fixed
            }

            .ui-row-editor .ui-row-editor-pencil {
                margin-left:8px;
            }

            .ui-editable-column .ui-cell-editor-input {
                overflow: hidden;
            }

            .ui-editable-column .ui-cell-editor-input * {
                box-sizing: border-box;
            }
        </style>


        <h:form id="form">
            <p:growl  id="msgs" showDetail="true" escape="false"/>
            <p:treeTable  id="tabla" value="#{ttBasicView.root}" editable="true" selectionMode="single"  selection="#{ttBasicView.selectedNode}" var="document">

                <p:ajax event="rowEdit" listener="#{ttBasicView.onRowEdit}" update=":form:msgs" />
                <p:ajax event="rowEditCancel" listener="#{ttBasicView.onRowCancel}" update=":form:msgs" />


                <f:facet name="header">
                    Mis Documentos
                </f:facet>
                <p:column headerText="Nombre" sortBy="#{document.name}">
                    <h:outputText value="#{document.name}" />
                </p:column>
                <p:column headerText="Tamaño" sortBy="#{document.size}">
                    <h:outputText value="#{document.size}" />
                </p:column>
                <p:column headerText="Tipo"  sortBy="#{document.type}">
                    <h:outputText value="#{document.type}" />
                </p:column>
                <p:column style="width:32px">
                    <p:rowEditor />
                </p:column>
            </p:treeTable>



            <h:panelGrid >

                <p:multiSelectListbox value="#{ttBasicView.selection}" effect="slide" header="Tipo" showHeaders="true">
                    <f:selectItems value="#{ttBasicView.categories}" />
                </p:multiSelectListbox>


                <h:outputText id="out" value="#{ttBasicView.selection}" style="display:float" />


                <p:outputLabel value="Nombre de Archivo" for="name" />
                <p:inputText id="name" value="#{ttBasicView.name}"  />

                <p:outputLabel value="Tamaño del Archivo " for="name" />
                <p:inputText id="size" value="#{ttBasicView.size}"  />



                <p:commandButton value="Crear" update="tabla" ajax="true" icon="pi pi-clone" action="#{ttBasicView.createDocument}"/>
                <p:commandButton value="delete" update="tabla" ajax="true" icon="pi pi-clone" action="#{ttBasicView.delete}"/>

            </h:panelGrid>

        </h:form>

    </h:body>
</html>

